.popup__close-button {
  background-image: url('../../../images/close-icon.svg');
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 40px;
  height: 40px;
  margin-top: -40px;
  margin-right: -40px;
  align-self: flex-end;
  background-position: center;
  transition: 0.3s;
}

.popup__close-button:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 748px) {
  .popup__close-button {
    margin-top: -50px;
    margin-right: 0px;
    align-self: center;
  }
}